
.bg-light {
    background-color: #474747!important;
}


.navbar-light .navbar-brand {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

#nav2{
    padding-top: 0px;
}


.home{
    border-top-color: #ffae00 !important;
}
.typography{
    border-top-color: #fc7100 !important;

}

.blog {
     border-top-color: #e51c5e !important;
    
}

.pages{
    border-top-color: #ae0f8d !important;
    
}

.elements{
      border-top-color: #6d0fae !important;
    
}

.ecom {
     border-top-color: #33227a !important;
    
}

.meg{
     border-top-color: #0c8fcc !important;
    
}

#carouselExampleIndicators img {
    width:100%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 100px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h2{
    font-size: 60px;

}
.carousel-caption h3{
    font-size: 40px;
}

@media only screen and (max-width: 992px) and (min-width: 576px)  {

    .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h2{
    font-size: 40px;
}

.carousel-caption h3{
    font-size: 30px;
}
 
}

@media (max-width: 575px) {  
     .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 10px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h2{
    font-size: 20px;
}

.carousel-caption h3{
    font-size: 15px;
}
.carousel-caption a{
    font-size: 10px;
}


}

.border-top-10{
    border-width:10px !important;
}


#steal {
	padding-top: 100px;
    padding-bottom: 100px;
	

    }


/***********latest_work *****/
#latest_work {
	
	background: #525252;
	padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
.last_work_2{
	
	background: #3d3d3d;
    height: 50px;
    padding: 15px;}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,1); /*dim the background*/
  opacity: 0;
 
}

.latest_work:hover .overlay {
  opacity: 0.7;
  color: #fff;
}

/***********latest_work *****/

/**********************/
#superb{
	padding-top: 100px;
    padding-bottom: 100px;

}
/********************/

#silder3 {
	padding-top: 100px;
    padding-bottom: 100px;
	background: #666666;
}

/*********************/
#blog{
	padding-top: 100px;
    
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px; 
    padding-left: 0px; 
}

/**********************************/
#company {
	padding-top: 100px;
    padding-bottom: 100px;
	background: #02baab;
  
}

 .company{
  
   height: 200px;
    width: 200px; 
    
}

.company-inner {

    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;

}


/**********************/
#team {
    padding-top: 100px;
    padding-bottom: 100px;
   
    
}

.team:hover .overlay{
opacity: 0.9;
 
}


.name {
    width: 130px;
    height:70px;
    border: 1px solid #ccc;
   margin-top: -20px;
   

}


.team  .overlay .ob {
  position: absolute;
  bottom: 25px;
  right: 35%;

}
/****************/
#footer {
    background: #1f2a32;

}

ul 
    {
    padding-left: 0px;

}

ul li {
    padding-bottom: 20px;
}


.in_toch
{
    border-top: 10px solid #7827a9;
     padding-top: 100px;
}

.last_tweets {

     border-top: 10px solid #0c8fcc;
      padding-top: 100px;
}

.follow{

      border-top: 10px solid #de1c5c;
       padding-top: 100px;

}

.popular{
     border-top: 10px solid #ffae00;
      padding-top: 100px;
}
